<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Change API IP Address
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" padding>
    <div style="padding-top: 20px; display: flex; height: 100%;
align-content: center; align-items: center; justify-content: center; text-align: center;">
        <div>
            <form >
                <ion-item>
                    <ion-label>Enter IP Address:</ion-label><br>
                    <ion-input type="text" [(ngModel)]="url" placeholder="192.0.0.0"  name="title"></ion-input>
                </ion-item>
                <br>

                <button style=" width: 70%; color:white; padding: 15px; background-color: #42d77d;border: 1px
                solid  #42d77d;
                padding: 10px; border-radius: 25px;" (click)="setURL()" block>Save</button>
            </form>
        </div>
    </div>


</ion-content>
